name: Build OpenWrt IPK (Architecture All)

on:
  push:
    tags: [ "v*" ] # 当推送以 v 开头的标签时触发发布
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Initialization Environment
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential gawk git gettext libncurses5-dev libssl-dev xsltproc wget unzip  zstd tar

      - name: Download SDK
        run: |
          # 1. 创建目标目录
          mkdir sdk
          
          # 2. 下载并解压，使用 -C 参数直接进入 sdk 目录
          # --strip-components=1 确保解压出来的是 SDK 内部文件，而不是嵌套文件夹
          SDK_URL="https://downloads.openwrt.org/releases/25.12.0-rc4/targets/x86/64/openwrt-sdk-25.12.0-rc4-x86-64_gcc-14.3.0_musl.Linux-x86_64.tar.zst"
          wget -qO- $SDK_URL | tar -xf --zstd -C sdk --strip-components=1
          
      - name: Add Package to SDK
        run: |
          mkdir -p sdk/package/luci-app-iptv-scan
          # 仅拷贝源码文件，避免将 SDK 自身循环拷贝
          cp -r Makefile luasrc root sdk/package/luci-app-iptv-scan/
          ls -R sdk/package/luci-app-iptv-scan/

      - name: Update & Install Feeds
        run: |
          cd sdk

          # 2. 更新 feeds，即使某个源报错也继续执行 (使用 || true)
          ./scripts/feeds update -a || true
          
          # 3. 安装你的插件所需的依赖环境
          ./scripts/feeds install -a
          make defconfig
          # 只编译你的插件，V=s 查看详细日志
          make package/luci-app-iptv-scan/compile V=s

      - name: Organize Artifacts
        run: |
          mkdir -p deploy
          # 这是一个更强力的查找命令，会搜索整个当前目录及子目录
          find . -type f -name "luci-app-iptv-scan*.apk" -exec cp {} deploy/ \;
          
          # 如果此时 deploy 文件夹还是空的，说明前面的编译步骤其实失败了
          if [ -z "$(ls -A deploy)" ]; then
             echo "错误：未找到编译生成的 IPK 文件，请检查编译日志！"
             exit 1
          fi

      - name: Upload to Actions
        uses: actions/upload-artifact@v4
        with:
          name: luci-app-iptv-scan-universal
          path: deploy/*.apk

      - name: Release to GitHub
        if: startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@v2
        with:
          files: deploy/*.apk
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
